@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Blackout 2AM";
  src: url("/fonts/blackout/Blackout2AM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.news-h2-light h2 {
  font-weight: 400 !important; /* ← принудительно переопределяет font-bold */
  font-size: 22px;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: #666;
  font-style: italic;
}

p {
  margin-top: 1em;
}
