@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.news-h2-light h2 {
  font-weight: 400 !important; /* ← принудительно переопределяет font-bold */
  font-size: 22px;
}

blockquote {
  border-left: 4px solid #da0808;
  padding-left: 1rem;
  color: #666;
  font-style: italic;
}

html.dark blockquote {
  color: #bcbcbc;
}

p {
  margin-top: 1em;
}

ol li p,
ul li p {
  margin-top: 0;
  padding-top: 0;
}

ul {
  margin-top: 10px;
  list-style-type: disc;
  padding-left: 2.5rem;
}

ol {
  margin-top: 10px;
  list-style-type: decimal;
  padding-left: 2.5rem;
}

@layer base {
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mt-6;
  }

  /* h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  } */
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-xl;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
