@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Blackout 2AM";
  src: url("/fonts/blackout/Blackout2AM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* body::before {
  content: "PEREC";
  font-family: "Blackout 2AM";
  font-size: 48px;
  display: block;
  padding: 20px;
  background: #eee;
} */